---
import { changeLanguage, t } from "i18next";
import Wrapper from "../../components/Wrapper.astro";
import Layout from "../../layouts/Layout.astro";
import ServiceBanner from "../../components/ServiceBanner.astro";
import ServiceContent from "../../components/ServiceContent.astro";
import ServiceNabvar from "../../components/ServiceNabvar.astro";

changeLanguage("en");

export function getStaticPaths() {
    const pages = [
        {
            service: "security-cameras",
            title: "services.content.0.title",
            banner: "/images/security-cameras-banner.jpeg",
            imageMain: "/images/security-cameras-principal.jpeg",
            paragraphMain: "services.content.0.paragraphMain",
            imageSecondary1: "/images/security-cameras-secondary-1.jpeg",
            imageSecondary2: "/images/security-cameras-secondary-2.jpeg"
        },
        {
            service: "structured-cabling",
            title: "services.content.1.title",
            banner: "/images/structured-cabling-banner.jpeg",
            imageMain: "/images/structured-cabling-principal.jpeg",
            paragraphMain: "services.content.1.paragraphMain",
            imageSecondary1: "/images/structured-cabling-secondary-1.jpeg",
            imageSecondary2: "/images/structured-cabling-secondary-2.jpeg"
        },
        {
            service: "landscape-lighting",
            title: "services.content.2.title",
            banner: "/images/landscape-lighting-banner.jpeg",
            imageMain: "/images/landscape-lighting-principal.jpeg",
            paragraphMain: "services.content.2.paragraphMain",
            imageSecondary1: "/images/landscape-lighting-secondary-1.jpeg",
            imageSecondary2: "/images/landscape-lighting-secondary-2.jpeg"
        },
        {
            service: "tv-installation",
            title: "services.content.3.title",
            banner: "/images/tv-installation-banner.jpeg",
            imageMain: "/images/tv-installation-principal.jpg",
            paragraphMain: "services.content.3.paragraphMain",
            imageSecondary1: "/images/tv-installation-secondary-1.png",
            imageSecondary2: "/images/tv-installation-secondary-2.png"
        },
        {
            service: "audio-video",
            title: "services.content.4.title",
            banner: "/images/audio-video-banner.jpeg",
            imageMain: "/images/audio-video-principal.jpeg",
            paragraphMain: "services.content.4.paragraphMain",
            imageSecondary1: "/images/audio-video-secondary-1.jpeg",
            imageSecondary2: "/images/audio-video-secondary-2.jpeg"
        },
        {
            service: "smart-home",
            title: "services.content.5.title",
            banner: "/images/smart-home-banner.jpeg",
            imageMain: "/images/smart-home-principal.jpeg",
            paragraphMain: "services.content.5.paragraphMain",
            imageSecondary1: "/images/smart-home-secondary-1.jpeg",
            imageSecondary2: "/images/smart-home-secondary-2.jpeg"
        }
        // {
        //   service: 'access-control',
        //   title: 'services.content.6.title',
        //   banner: '/images/access-control-banner.jpeg',
        //   imageMain: '/images/access-control-principal.jpeg',
        //   paragraphMain: 'services.content.6.paragraphMain',
        //   imageSecondary1: '/images/access-control-secondary-1.jpeg',
        //   imageSecondary2: '/images/access-control-secondary-2.jpeg'
        // }
    ];
    return pages.map(({ service, title, banner, imageMain, paragraphMain, imageSecondary1, imageSecondary2 }) => {
        return {
            params: { service },
            props: {
                title,
                banner,
                imageMain,
                paragraphMain,
                imageSecondary1,
                imageSecondary2
            }
        };
    });
}
const { title, banner, imageMain, paragraphMain, imageSecondary1, imageSecondary2 } = Astro.props;
---

<Layout>
  <Wrapper>
    <ServiceBanner image={banner} title={t(title)} />
    <div
      class='px-[4%] py-[50px] lg:py-[100px] lg:grid lg:grid-cols-services gap-8'
    >
      <ServiceContent
        id='services-dropdown'
        title={t(title)}
        principalImage={t(imageMain)}
        paragraph1={t(paragraphMain)}
        secondaryImage1={t(imageSecondary1)}
        secondaryImage2={t(imageSecondary2)}
      />
      <ServiceNabvar id='open-nabvar' />
    </div>
  </Wrapper>
</Layout>

<script>
  const servicesDropdown = document.getElementById('services-dropdown')
  const openNabvar = document.getElementById('open-nabvar')

  servicesDropdown.addEventListener('click', () => {
    openNabvar.classList.toggle('active')
  })
</script>
