---
import { t } from 'i18next'
import { localizePath } from 'astro-i18next'
const footerLinkObject = t('footer.content', { returnObjects: true })
const [serviceObject, aboutObject, legalObject] =
  Object.values(footerLinkObject)

const menuObject = t('header.menu', { returnObjects: true })
const menuList = Object.values(menuObject)
---

<footer class='border-t-[1px] border-[#4f4f4f]'>
  <div
    class='px-[4%] py-[70px] grid gap-8 lg:gap-14 items-start justify-between md:auto-cols-max md:grid-flow-col'
  >
    <figure class='w-full'>
      <img class='w-56 md:w-72 h-full' src='/images/logo.png' alt='Logo' />
    </figure>

    <div class='grid gap-4'>
      <h3 class='text-xl'>{serviceObject.title}</h3>
      <ul class='grid gap-2'>
        {
          serviceObject.links.map((item) => (
            <li class='text-[#A7ABB6]'>
              <a href={localizePath(item.href)}>{item.label}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class='grid gap-4'>
      <h3 class='text-xl'>{aboutObject.title}</h3>
      <ul class='grid gap-2'>
        {
          aboutObject.links.map((item) => (
            <li class='text-[#A7ABB6]'>
              <a href={localizePath(item.href)}>{item.label}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class='grid gap-4'>
      <h3 class='text-xl'>{legalObject.title}</h3>
      <ul class='grid gap-2'>
        {
          legalObject.links.map((item) => (
            <li class='text-[#A7ABB6]'>
              <a href={localizePath(item.href)}>{item.label}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div
    class='bg-gradient-to-b from-primary via-lightBlue to-secondary px-[4%] py-4 grid gap-2 md:auto-cols-max md:grid-flow-col md:justify-between md:items-center'
  >
    <p class='text-center'>{t('footer.copyright')}</p>
    <div
      class='grid auto-cols-max grid-flow-col gap-5 place-content-center place-items-center'
    >
      <a href='https://www.instagram.com/savteksystems/' target='_blank'>
        <img src='/icons/instagram.svg' alt='' />
      </a>
    </div>
  </div>
</footer>
