---
import { t } from 'i18next'
const { icon, title, paragraph, button } = Astro.props
---

<article>
  <img src={icon} alt={title} />
  <h3>{title}</h3>
  <p>{paragraph}</p>
  <button>{button}</button>
</article>
